.place-order-container{
    display: flex;
    align-items: center;
    min-height: 210px;
    background-color: #F8F8F8;

}

.place-order-content{
    margin-left: 5vw;
    margin-right: 5vw;
}

.input-second-name{
    height: 54px; /* Высота поля */
    padding: 10px 16px; /* Внутренние отступы */
    font-size: 16px; /* Размер текста */
    color: #333333; /* Цвет текста */
    background-color: #FFFFFF; /* Белый фон поля */
    border: 1px solid #333333; /* Тонкая рамка */
    border-radius: 12px; /* Скруглённые углы */
    outline: none; /* Убираем стандартную рамку при фокусе */
    box-shadow: none; /* Убираем тень */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Анимация фокуса */
    box-sizing: border-box; /* Отступы и границы включаются в размеры */
}

.input-second-name:focus{
    border-color: #007BFF; /* Синяя рамка при фокусе */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Лёгкая подсветка */
}

.btn-place-order{
    width: 320px;
    height: 54px;
    background-color: #1C1C1C; /* Тёмный фон кнопки */
    color: #FFFFFF; /* Белый текст */
    font-size: 16px; /* Размер текста */
    font-family: 'Arial', sans-serif; /* Шрифт */
    padding: 12px 24px; /* Внутренние отступы кнопки */
    border: none; /* Убираем границу */
    border-radius: 12px; /* Скруглённые углы */
    cursor: pointer; /* Курсор указателя при наведении */
    transition: all 0.3s ease; /* Анимация при наведении */
    text-wrap: nowrap;
}